# Day 14 (Database)

## Practicing python from Basics

### Installing mysql python connector module

In [30]:
# !pip install mysql-connector-python

### Importing mysql connector

In [31]:
import mysql.connector

### Creating connection to the database

In [32]:
new_db = mysql.connector.connect(
    host = 'localhost',
    user = 'root',
    password = 'nk@python26'
)

In [33]:
if new_db:
    print("Connection successfull!.")

Connection successfull!.

### Creating Cursor

In [34]:
# creating cursor object to run sql queries
new_cursor = new_db.cursor()

### Creating Database

In [35]:
# executing sql query to create database
new_cursor.execute("CREATE DATABASE 100DayOfCode")

### Getting all databases

In [36]:
# Executing sql query to get databases
new_cursor.execute("SHOW DATABASES")

# printing all available databases one by one
for database in new_cursor:
    print(database)

('100dayofcode',)
('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)

### Selecting database

In [37]:
# Executing sql query to select 100dayofcode database
new_cursor.execute("USE 100dayofcode")

### Creating Table

In [38]:
# Executing sql query to create table
new_cursor.execute("CREATE TABLE progress (day VARCHAR(255), goal_complete VARCHAR(255))")

### Checking for Table

In [39]:
# Executing sql query
new_cursor.execute("SHOW TABLES")

# Printing tables one by one
for table in new_cursor:
    print(table)

('progress',)

### Creating Primary Key

In [40]:
# Executing ALTER TABLE sql command to add primary key
new_cursor.execute("ALTER TABLE progress ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

### Inserting values in table

#### One row

In [41]:
# query to insert
sql = "INSERT INTO progress (day, goal_complete) VALUES (%s, %s)"
val = ('day 13','yes')

# now executing sql
new_cursor.execute(sql,val)

# commiting the changes to database
new_db.commit()

# printing number of rows inserted
print(new_cursor.rowcount, "record inserted.")

1 record inserted.

#### Inserting multiple rows

In [42]:
# sql query and values
sql = sql = "INSERT INTO progress (day, goal_complete) VALUES (%s, %s)"
vals = [
    
    ('day 1','yes'),
    ('day 2','yes'),
    
    ('day 3','yes'),
    ('day 4','yes'),
    
    ('day 5','yes'),
    ('day 6','yes'),
    
    ('day 7','yes'),
    ('day 8','yes'),
    
    ('day 9','yes'),
    ('day 10','yes'),
    
    ('day 11','yes'),
    ('day 12','yes')
]

# executing sql query
new_cursor.executemany(sql,vals)

# commiting changes
new_db.commit()

# printing inserted row count
print(new_cursor.rowcount,'was inserted.')

12 was inserted.

In [43]:
# id of last row inserted
print("id of last row inserted : ",new_cursor.lastrowid)

id of last row inserted :  2

## Fetching data from table

### Fetching all values from table

In [44]:
# sql query
q = "SELECT * FROM progress"

# executing query
new_cursor.execute(q)

# fetching values
result = new_cursor.fetchall()

# printing one by one
for row in result:
    print(row)

('day 13', 'yes', 1)
('day 1', 'yes', 2)
('day 2', 'yes', 3)
('day 3', 'yes', 4)
('day 4', 'yes', 5)
('day 5', 'yes', 6)
('day 6', 'yes', 7)
('day 7', 'yes', 8)
('day 8', 'yes', 9)
('day 9', 'yes', 10)
('day 10', 'yes', 11)
('day 11', 'yes', 12)
('day 12', 'yes', 13)

### To select specific columns from table

In [45]:
# query
q = "SELECT day, goal_complete FROM progress"

# executing query
new_cursor.execute(q)

# fetching
result = new_cursor.fetchall()

# printing
for row in result:
    print(row)

('day 13', 'yes')
('day 1', 'yes')
('day 2', 'yes')
('day 3', 'yes')
('day 4', 'yes')
('day 5', 'yes')
('day 6', 'yes')
('day 7', 'yes')
('day 8', 'yes')
('day 9', 'yes')
('day 10', 'yes')
('day 11', 'yes')
('day 12', 'yes')

### fetching one row from result

In [46]:
# query
q = "SELECT * FROM progress"

# executing
new_cursor.execute(q)

# fetching only one row
result = new_cursor.fetchone() # this method return first row from the result

# printing
print(result)

('day 13', 'yes', 1)

### clearing cursor

In [47]:
new_cursor.fetchall()

[('day 1', 'yes', 2),
 ('day 2', 'yes', 3),
 ('day 3', 'yes', 4),
 ('day 4', 'yes', 5),
 ('day 5', 'yes', 6),
 ('day 6', 'yes', 7),
 ('day 7', 'yes', 8),
 ('day 8', 'yes', 9),
 ('day 9', 'yes', 10),
 ('day 10', 'yes', 11),
 ('day 11', 'yes', 12),
 ('day 12', 'yes', 13)]

### Using where clause in query

In [48]:
# query 
q = "select * from progress where day='day 7'"

# execute query
new_cursor.execute(q)

# fetching all where condition meets
result = new_cursor.fetchall()

# printing
for row in result:
    print(row)

('day 7', 'yes', 8)

### Wildcard characters

We can select a record that starts, include or ends with a give phrase in %__%

In [49]:
#query
qry = "select * from progress where day like '%1%'" # this query selects data where day column contains 1 in it

# execute
new_cursor.execute(qry)

# fetching data
result = new_cursor.fetchall()

# printing
for row in result:
    print(row)

('day 13', 'yes', 1)
('day 1', 'yes', 2)
('day 10', 'yes', 11)
('day 11', 'yes', 12)
('day 12', 'yes', 13)

### Preventing sql injection

(sql injection is common hacking technique)

In [50]:
# to prevent sql injection we can use parameters instead of giving directly value.
q = "SELECT * FROM progress WHERE day=%s"
d = ('day 5',)

# executing
new_cursor.execute(q,d)

# fetching data
result = new_cursor.fetchall()

# printing
for row in result:
    print(row)

('day 5', 'yes', 6)

## Sorting the result using ORDER BY

### Ascending

In [51]:
# query
qr = "SELECT * FROM progress ORDER BY day"

# executing
new_cursor.execute(qr)

# fetching data
result = new_cursor.fetchall()

# printing 
for row in result:
    print(row)

('day 1', 'yes', 2)
('day 10', 'yes', 11)
('day 11', 'yes', 12)
('day 12', 'yes', 13)
('day 13', 'yes', 1)
('day 2', 'yes', 3)
('day 3', 'yes', 4)
('day 4', 'yes', 5)
('day 5', 'yes', 6)
('day 6', 'yes', 7)
('day 7', 'yes', 8)
('day 8', 'yes', 9)
('day 9', 'yes', 10)

### Descending

Using DESC keyword we can sort data in descending order

In [52]:
# query
qr = "SELECT * FROM progress ORDER BY day DESC"

# executing
new_cursor.execute(qr)

# fetching data
result = new_cursor.fetchall()

# printing 
for row in result:
    print(row)

('day 9', 'yes', 10)
('day 8', 'yes', 9)
('day 7', 'yes', 8)
('day 6', 'yes', 7)
('day 5', 'yes', 6)
('day 4', 'yes', 5)
('day 3', 'yes', 4)
('day 2', 'yes', 3)
('day 13', 'yes', 1)
('day 12', 'yes', 13)
('day 11', 'yes', 12)
('day 10', 'yes', 11)
('day 1', 'yes', 2)

### Deleting Records from Table

Using DELETE FROM command

In [53]:
# Query
qr = "DELETE FROM progress WHERE day = 'day 13'"

# executing
new_cursor.execute(qr)

# commiting the changes
new_db.commit()

# printing row deleted
print(new_cursor.rowcount, "Records deleted")

1 Records deleted

Escaping the values from query to prevent sql injection (sql injection is common hacking technique)

In [54]:
# Query
qr = "DELETE FROM progress WHERE day = %s"
day = ('day 12',)

# executing
new_cursor.execute(qr,day)

# commiting the changes
new_db.commit()

# printing row deleted
print(new_cursor.rowcount, "Records deleted")

1 Records deleted

### Updating Table

In [55]:
## query
qr = "UPDATE progress SET day = %s WHERE day = %s"
day = ('day_11','day 11')

# executing query
new_cursor.execute(qr,day)

# commiting 
new_db.commit()

# message
print(new_cursor.rowcount,"record updated")

1 record updated

In [56]:
# checking updated values
qr = "select * from progress"

# executing
new_cursor.execute(qr)

# fetching
result = new_cursor.fetchall()

# print
for row in result:
    print(row)

('day 1', 'yes', 2)
('day 2', 'yes', 3)
('day 3', 'yes', 4)
('day 4', 'yes', 5)
('day 5', 'yes', 6)
('day 6', 'yes', 7)
('day 7', 'yes', 8)
('day 8', 'yes', 9)
('day 9', 'yes', 10)
('day 10', 'yes', 11)
('day_11', 'yes', 12)

### Limit

Limiting number of records while fetching using LIMIT keywod.

In [57]:
# query
qr = "SELECT * FROM progress LIMIT 5"

# executing
new_cursor.execute(qr)

# fetching
result = new_cursor.fetchall()

# printing
for row in result:
    print(row)

('day 1', 'yes', 2)
('day 2', 'yes', 3)
('day 3', 'yes', 4)
('day 4', 'yes', 5)
('day 5', 'yes', 6)

#### OFFSET 

Using offset to skip the rows

In [58]:
# query
qr = "SELECT * FROM progress LIMIT 5 OFFSET 3" # this will skip first 3 rows

# executing
new_cursor.execute(qr)

# fetching
result = new_cursor.fetchall()

# printing
for row in result:
    print(row)

('day 4', 'yes', 5)
('day 5', 'yes', 6)
('day 6', 'yes', 7)
('day 7', 'yes', 8)
('day 8', 'yes', 9)

## JOINS

#### Creating another table to use join

In [59]:
# query
qr = "CREATE TABLE learning (day VARCHAR(255), learned VARCHAR(255))"

# Executing sql query to create table
new_cursor.execute(qr)

In [60]:
# checking tables
new_cursor.execute("show tables")

# print
for table in new_cursor:
    print(table)

('learning',)
('progress',)

#### Inserting values

In [61]:
# sql query and values
sql = sql = "INSERT INTO learning (day, learned) VALUES (%s, %s)"
vals = [
    
    ('day 1','syntax, data types, io, conditionals'),
    ('day 2','loops'),
    
    ('day 3','modules, lists'),
    ('day 4','dictionary, set'),
    
    ('day 5','oop concepts'),
    ('day 6','oop concepts'),
    
    ('day 7','exceptions')
]

# executing sql query
new_cursor.executemany(sql,vals)

# commiting changes
new_db.commit()

# printing inserted row count
print(new_cursor.rowcount,'was inserted.')

7 was inserted.

### Inner JOIN

In [62]:
"""
 on column day we can perform join
"""

# query
qr = "SELECT progress.goal_complete as complete, \
      learning.learned as completed \
      FROM progress \
      INNER JOIN learning ON progress.day = learning.day"

# executing
new_cursor.execute(qr)

# fetching
result = new_cursor.fetchall()

# printing
for row in result:
    print(row)

('yes', 'syntax, data types, io, conditionals')
('yes', 'loops')
('yes', 'modules, lists')
('yes', 'dictionary, set')
('yes', 'oop concepts')
('yes', 'oop concepts')
('yes', 'exceptions')

### LEFT JOIN

It will show all records from first table

In [63]:
# query
qr = "SELECT progress.goal_complete as complete, \
      learning.learned as completed \
      FROM progress \
      LEFT JOIN learning ON progress.day = learning.day"

# executing
new_cursor.execute(qr)

# fetching
result = new_cursor.fetchall()

# printing
for row in result:
    print(row)

('yes', 'syntax, data types, io, conditionals')
('yes', 'loops')
('yes', 'modules, lists')
('yes', 'dictionary, set')
('yes', 'oop concepts')
('yes', 'oop concepts')
('yes', 'exceptions')
('yes', None)
('yes', None)
('yes', None)
('yes', None)

### RIGHT JOIN

It will show all records from second table where join performed

In [64]:
# query
qr = "SELECT progress.goal_complete as complete, \
      learning.learned as completed \
      FROM progress \
      RIGHT JOIN learning ON progress.day = learning.day"

# executing
new_cursor.execute(qr)

# fetching
result = new_cursor.fetchall()

# printing
for row in result:
    print(row)

('yes', 'syntax, data types, io, conditionals')
('yes', 'loops')
('yes', 'modules, lists')
('yes', 'dictionary, set')
('yes', 'oop concepts')
('yes', 'oop concepts')
('yes', 'exceptions')

## Deleting a table from database

In [65]:
# query if table exists
qr = 'DROP TABLE IF EXISTS progress, learning'

# executing
new_cursor.execute(qr)

In [66]:
# checking
new_cursor.execute("SHOW TABLES")

# print
for table in new_cursor:
    print(table)
    
print("deletedd tables")

deletedd tables

### Deleting database

In [67]:
# query 
qr = "DROP DATABASE 100dayofcode"

# executing
new_cursor.execute(qr)

In [68]:
# Checking
new_cursor.execute("SHOW DATABASES")

# PRINT
for db in new_cursor:
    print(db)

('information_schema',)
('mysql',)
('performance_schema',)
('phpmyadmin',)
('test',)